html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Quicksand;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.bg-holder {
  width: 100%;
  height: 100%;
}

.bg-holder#pic1 {
  background-image: url('../img/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
 background-attachment: fixed;
}

.bg-holder#pic2 {
  background-image: url('../img/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 55vh;
}

.bg-holder#pic3 {
  background-image: url('../img/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 55vh;
}

.bg-holder#pic4 {
  background-image: url('../img/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 55vh;
}

.bg-holder#pic5 {
  background-image: url('../img/5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 55vh;
}

.bg-holder#pic6 {
  background-image: url('../img/6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 55vh;
}

.bg-holder#pic7 {
  background-image: url('../img/7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 55vh;
}

.bg-holder#pic8 {
  background-image: url('../img/8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 100vh;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(252, 252, 252);
    letter-spacing: 4px;
    font-size: 2.5rem;
    text-transform: uppercase;
    animation: appear ease-out 1s;
}

.title1 {
  color: rgb(252, 252, 252);
  letter-spacing: 4px;
  font-size: 2.3rem;
  text-transform: uppercase;
}

.section {
  width: 100%;
  background-color: rgb(247, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}

.section-content {
  width: 100%;;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 500px 0 100px;
}

.section-content1 {
  width: 100%;;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
}

.section-content__title {
  font-size: 2rem;
  color: rgb(53, 53, 53);
  margin-bottom: 20px;
}

.section-content__content {
  font-size: 1.2rem;
  color: rgb(53, 53, 53);
  width: 100%;
  text-align: left;
  line-height: 35px;
}

.section-content__content1 {
  font-size: 1.2rem;
  color: rgb(53, 53, 53);
  width: 100%;
  text-align: left;
  line-height: 35px;
}


.marginBottom {
  margin-bottom: 60px;
}

.content__img {
  height: 100px;
  display: block;
  margin: 20px 0;
  border-left: 10px solid rgb(250, 231, 170);
}
.content__img1 {
  height: 300px;
  display: block;
  margin: 20px 0;
  border-left: 10px solid rgb(250, 231, 170);
}

a {
  text-decoration: none;
  background-color: rgb(224, 192, 5);
  color: white;
  padding: 2px 20px;
  margin:0 5px 0 15px;
  border-radius: 2px;
  transition: ease-in-out 0.2s;
}

a:hover {
  filter: brightness(110%);
}

.main {
  color: rgb(199, 11, 136);
}













/* RESPONSIVE */

@media (max-width:500px) {
  .title {
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
  }

  .section-content1 {
    padding: 0 40px;
  }

  .section-content__content1 {
    text-align: justify;
  }

  .section-content__content {
    text-align: justify;
  }
  
  .content__img {
    height: 53px;
  }

  .content__img1 {
    height: 147px;
  }

  .section-content {
    padding: 0 40px;
  }

  a {
    display: block;
    text-align: center;
  }

  .title1 {
    line-height: 43px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 20px;
  }
}